body{
	box-sizing: border-box;


}



.footer {
	background-color: #343A40;
	padding: 5px;

}



#selected {
	 		color: white;
	 	}

@media (max-width: 728px){
	#title {
		margin-top: 10px;
		font-size: 4.3em;
	}
}
