body{
	box-sizing: border-box;


}

.footer {
	background-color: #343A40;
	padding: 5px;

}

.block {
	background-color: #E9ECEF;
	margin-top: 2px;
	padding: 15px;
}
.block:hover {
	background-color:#CDCECE ;
}


#selected {
	 		color: white;
	 	}

  li {
      list-style: none;
      text-align: center;
    }
      .sub-text{
      font-size: 1.2rem;
    }
    

@media (max-width: 728px){
	#title {
		margin-top: 10px;
		font-size: 4.3em;
	}
}
